body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 300px;
}

#map {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}

.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

.navbar-default {
  background-color: #337ab7;
  border-color: #2e6da4;
}

.navbar-default .navbar-brand {
  color: #f4fbfd;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #f7f7f7;
}

.navbar-default .navbar-text {
  color: #f4fbfd;
}

.navbar-default .navbar-nav > li > a {
  color: #f4fbfd;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #f7f7f7;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #f7f7f7;
  background-color: #337ab7;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #f7f7f7;
  background-color: #337ab7;
}

.navbar-default .navbar-toggle {
  border-color: #2e6da4;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #337ab7;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #f4fbfd;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f4fbfd;
}

.navbar-default .navbar-link {
  color: #f4fbfd;
}

.navbar-default .navbar-link:hover {
  color: #f7f7f7;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f4fbfd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f7f7f7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f7f7f7;
    background-color: #337ab7;
  }
}